{% extends "layout.html" %}
{% load promotion_tags %}

{% comment %}
Keep the same header and footer as the standard layout template but override the 
main content area to split it into a sidebar and a content block
{% endcomment %}
{% block content_wrapper %}
<div class="container-fluid page">
    <div class="page_inner">
        {% block breadcrumbs %}{% endblock %}
        <div class="row">

            <div class="col-sm-8 col-md-12" style="width:100%; overflow:hidden">
                <img src="https://livedemo00.template-help.com/magento_53638/skin/frontend/tm_themes/theme706/images/media/img-1.jpg">
                <div>
                    <h1>Women Online Fashion Store</h1>
                </div>
            </div>
            <div class="col-sm-8 col-md-12">
                <div class="page-header action">

                </div>

                {% include "partials/alert_messages.html" %}

                <div id="promotions">
                    {% for promotion in promotions_page %}
                        {% render_promotion promotion %}
                    {% endfor %}
                </div>

                {% block content %}{% endblock %}
            </div>

        </div><!-- /row -->
    </div><!-- /page_inner -->
</div><!-- /container-fluid -->
{% endblock %}
